<footer>
  <div class="container py-5">
    
      <h3 class="ms-3 md:ms-0 md:mb-3 font-bold">Contattaci...</h3>

      <ul class="flex items-center flex-col md:flex-row justify-between">

        <div>
          <li><a href="#">FooterLink</a></li>
          <li><a href="#">FooterLink</a></li>
          <li><a href="#">FooterLink</a></li>
          <li><a href="#">FooterLink</a></li>
          <li><a href="#">FooterLink</a></li>
          <li><a href="#">FooterLink</a></li>
        </div>

        <div class="socialLinks mt-5 flex gap-3">
          <li><a href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-instagram fa-2xl"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-x-twitter fa-2xl"></i></a></li>
        </div>

      </ul>
  </div>
</footer>
